#weatherCitySearch{
    position: absolute;
    left: 35vw;
    display: block;
    padding: 8px;
    width: 30vw;
    margin:0 auto;
    height:22px;
    border: 1px solid rgba(128, 128, 128,0.4);
    border-radius: 15px;
    background-color: white;
    top: 20px;

}

#weatherImage{
    position: relative;
    width: 100vw;
    height:80px;
    background-image: url('../../public/image/weather.jpeg');
    background-size: 100%;
}